<div id="footer">
  <footer>
    <div class="row align-middle">
      <div class="columns text-center">
        <img src="{{root}}assets/img/it-logo.png" alt="IT-sektionen" />
        <p>
          En del av teknologsektionen informationsteknik på Chalmers
        </p>
      </div>
      <div class="columns text-center">
        <h2>Kontakt</h2>
        <p>
          <a href="mailto:info@armit.se">info@armit.se</a>
        </p>
        <h4>Besöksadress</h4>
        <p>
          Hubben 2.1<br />
          Hörsalsvägen 9<br />
          412 58, Göteborg
        </p>
      </div>
    </div>
  </footer>
</div>
