<div class="orbit" role="region" data-orbit data-use-m-u-i="true">
  <ul class="orbit-container restricted-slideshow">
    <li class="is-active orbit-slide">
      <div class="align-middle">
        <img class="orbit-image" src="{{root}}assets/img/lunch-lecture.jpg" />
      </div>
    </li>
    <li class="orbit-slide">
      <div>
        <img class="orbit-image" src="{{root}}assets/img/armit-header.jpg" />
      </div>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"></button>
    <button data-slide="1"></button>
  </nav>
</div>
