<div class="orbit" role="region" data-orbit data-use-m-u-i="true">
  <ul class="orbit-container restricted-slideshow">
    <li class="is-active orbit-slide">
      <div>
        <img class="orbit-image" src="https://scontent-arn2-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11021551_904823296227514_288490730282390103_n.png?oh=6da54de1acb6b3fbb31d8a2d9e884370&oe=57321C1B" />
      </div>
    </li>
    <li class="orbit-slide">
      <div>
        <img class="orbit-image" src="https://scontent-arn2-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11021551_904823296227514_288490730282390103_n.png?oh=6da54de1acb6b3fbb31d8a2d9e884370&oe=57321C1B" />
      </div>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"></button>
    <button data-slide="1"></button>
  </nav>
</div>
